<h1>
    Posts from the people you follow
</h1>

{{#each post in controller}}
    <div class="post">
  <span class="name">
    {{post.author.name}}:
  </span>

  <span class="body">
    {{post.body}}
  </span>

        <span>
            {{post.creationDate}}
        </span>
    </div>
{{/each}}